body
{
	background-color: #ccccff;
}
#color{
	background-color:#d4d3d3 ;
	margin-left:2%;
		margin-right: 2%;

}

ul{
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	width: 100%;
	background-color: #f1f1f1;
}
ul li {
	width: 120px;
	float: left;
	background-color: #ccccff;
	display: inline-block;
	text-align:center;
}
li a{
	display: block;
	color: #000;
	padding: 8% 10% 8% 16%;
	text-decoration: none;
}
li a:hover{
	text-decoration: none;
	background-color: #ccccff;
	color: white;
}
ul li ul li{
	display: none;

}

ul li:hover ul li{
display: block;
position: all;
}

* {box-sizing: border-box ;}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}

}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.Last h5{
	font-size: 10px;
	font-family: cursive;
}
form {
  border: 3px solid #f1f1f1;
  width: 35%;
  height: 43%;
  	margin: 0%;
	padding: 0%;
	background-color: #f1f1f1;
	text-align: left;
}
form input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  opacity: 0.8;
}

form .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  text-align: left;
}

form.imgcontainer {
  margin: 24px 0 12px 0;
}

form span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
 
}
 .singup{
width: auto;
  padding: 10px 18px;
  background-color: gray;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color:#3333cc;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #4747d1;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.5%;
  margin-bottom: 16px;
  padding: 0 10px;
  height: 15%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 3px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 5%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
